.orbit1{
    font-family: 'Source Sans Pro', sans-serif; /* Apply font to the entire page */
/* font-size: 12vmax; */
/* font-weight: 700; */
text-align: center;
font-style: italic;
color: white;


        font-size:50px;
        /* position:fixed; */
        /* justify-content: center; */
        /* padding-left: 45%; */

font-family: "Dancing Script", serif;
font-optical-sizing: 90px;
font-weight:700;
/* margin-top: 10px; */
font-style: normal;
margin-left: 42%;
  }
  @media (max-width: 768px) {
    
    .orbit1{
      
      margin-left: 12vmax;

    }
   
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}



.profile {
    /* padding-top: 10%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width:70%; */

    width: 60%;
    /* margin: auto; */
    margin-left: 30px;
    margin-top: 0px;
    text-align: center;
    font-family: arial;
    background-color: #fff;
    /* padding: 20px; */
    padding-top: 0px;
    /* padding-top: 10%; */
    margin-top:3.5%;
    /* margin: */
    border-radius: 8px;
    height: auto;
    transition: opacity 0.5s ease; /* Smooth fade effect */

  }